@import "~slick-carousel/slick/slick-theme.css";
@import "~slick-carousel/slick/slick.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slick-dots li.slick-active div {
  background-color: #ffffff;
}

.slick-dots li div {
  transition: all 0.3s ease;
}

.slick-dots li div:hover {
  background-color: #ffffff50;
}
